{% extends "base.html" %}

{% block announce %}
  <div class="announcement-wrapper">
    <div class="announcement-item cta--twitter">
        <span class="twemoji">
          {% include ".icons/fontawesome/brands/twitter.svg" %}
        </span>
      Follow us on <a href="https://x.com/djaas_swamp" target="_blank">@djaas_swamp</a>
    </div>
    <div class="announcement-item cta--download">
      <a href="#" class="btn btn--sm btn--gray">
        <span class="twemoji">
          {% include ".icons/fontawesome/solid/cart-shopping.svg" %}
        </span>
        Download</a> for just $149.99
    </div>
  </div>
{% endblock %}

{% block htmltitle %}
  <title>{{ config.site_name }} | Djaas Swamp</title>
{% endblock %}
